
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: "Roboto",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-base-primary: mat-palette($mat-indigo);
$app-base-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-base-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-base-theme: mat-light-theme((
  color: (
    primary: $app-base-primary,
    accent: $app-base-accent,
    warn: $app-base-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-base-theme);

@import "assets/scss/modules/var";
@import "assets/scss/modules/mixins";
@import "assets/scss/modules/utility";

// Partials
@import "assets/scss/partials/reset";
@import "assets/scss/partials/grids";
@import "assets/scss/partials/global";
@import "assets/scss/partials/buttons";
html, body { height: 100%; }
body { margin: 0; padding: 0; background-color: #fff; overflow-y: hidden;}


@media only screen and (max-width: 1300px) {
  body{
    overflow-y: scroll;
  }
}
