.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 10px;
}

#btn_agendar{
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  background-image: linear-gradient(to right, #3F51B5 0%, #5564bb 51%, #2c3ea1 100%);
}

#btn_agendar:hover{
  background-position: right center;
}

@media only screen and (max-width: 1300px) {
  .btn-container{
    margin-top: 55px;
  }
}


