.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 10px;
}

#btn_agendar{
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  background-image: linear-gradient(to right, #3F51B5 0%, #5564bb 51%, #2c3ea1 100%);
}

#btn_agendar:hover{
  background-position: right center;
}

.c-search {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 auto 30px;
}

#filtro-usuario{
  border-radius: 10px 0px 10px 0;
  font-size: 16px;
  border: 1px solid rgb(22, 21, 21);
  padding: 4px 16px;
}

#filtro-usuario:focus{
  outline: none;
}

.lista-cita__table {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 1200px;
  margin-top: 50px;
}

caption{
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border-top: 1px solid rgb(22, 21, 21);
  border-bottom: 1px solid rgb(22, 21, 21);
  border-spacing: 0;
  padding: 0.7em;
  text-align: center;
}

th:last-child, td:last-child {
  border-right: 1px solid rgb(22, 21, 21);
}

th:first-child, td:first-child {
  border-left: 1px solid rgb(22, 21, 21);
}


th{
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(27, 26, 26);
}

.mat-column-email {
  max-width: 124px;
}

#btn-eliminar{
  border-radius: 12px;
}

@media only screen and (max-width: 1300px) {
  .btn-container{
    margin-top: 55px;
  }
  .lista-cita__table{
    top: 33%;
  }
}

@media only screen and (max-width: 580px) {
  .lista-cita__table{
    top: 32%;
    min-width: 200px;
  }
  .mat-column-email {
    max-width: 24px;
  }
  table{
    width: 20%;
  }
  th, td, #btn-eliminar{
    font-size: 7px;
  }
  #btn-eliminar{
    width: 50px;
    height: 25px;
    padding: 0px;
    text-align: center;
  }
}
